body{
 
    background-image: url(https://conteudo.imguol.com.br/c/entretenimento/2e/2019/04/03/idosos-felizes-em-casa-1554325005700_v2_450x337.jpg);
}

div{
    background-color: red;
    
}
    
h2{
    color: bisque
}

#primeiro{
    color: black;
    background-color: azure;
}

h1{
    background-color: azure;
}
#p1{
    background-color: aquamarine;
    
}
h5{
    background-color: blueviolet
}


h4{
    background-color: azure
}